doctype html
html
  head
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,600', rel='stylesheet')
  body
    block content
    <script type="text/javascript" src="/static/vendor.js"></script>
    <script type="text/javascript" src="/static/babel.js">
    </script><script type="text/javascript" src="/static/app.js"></script>
